<div class="sidebar" role="aside">
		<header class="header">
			{{#if @blog.logo}}
			<a href="/">
				<img id="blog" class="logo" src="{{@blog.logo}}">
			</a>
			{{else}}
			<h1 class="title"><a href="/">{{@blog.title}}</a></h1>
			{{/if}}

			<div class="separator"></div>

			<p class="description">{{{@blog.description}}}</p>
			<div class="social-icons">
				<a href="https://twitter.com/spencemcc" class="fa fa-twitter"></a>
				<a href="https://github.com/spencercree" class="fa fa-github"></a>
				<a href="https://www.youtube.com/channel/UCz1c302WVqjFh_c-KUoJLcw" class="fa fa-youtube"></a>
				<a href="mailto:mccullough.spencer@gmail.com" class="fa fa-envelope"></a>
			</div>
		</header>
	</div>