<div class="sidebar" role="aside">
		<header class="header">
			{{#if @blog.logo}}
			<a href="/">
				<img id="blog" class="logo" src="{{@blog.logo}}">
			</a>
			{{else}}
			<h1 class="title"><a href="/">{{@blog.title}}</a></h1>
			{{/if}}

			<div class="separator"></div>

			<p class="description">{{{@blog.description}}}</p>
			<div class="social-icons">
				<a href="https://twitter.com/spencemcc" class="fa fa-twitter"></a>
				<a href="https://github.com/spencercree" class="fa fa-github"></a>
				<a href="https://www.youtube.com/channel/UCz1c302WVqjFh_c-KUoJLcw" class="fa fa-youtube"></a>
				<a href="mailto:mccullough.spencer@gmail.com" class="fa fa-envelope"></a>
			</div>
		</header>

		<div class="email-catch">
	    <!-- Begin MailChimp Signup Form -->
	    <div id="mc_embed_signup">
	      <form action="//spencermccullough.us9.list-manage.com/subscribe/post?u=babf55f8eba75e1080ff0372f&amp;id=48f524df84" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <h6 style="text-align:left;margin-bottom:7px;margin-top:1.6em">Never miss a thing:</h6>
	        <div class="mc-field-group form-group">
	            <input placeholder="Email" type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
	        </div>
        	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
	        <div id="mce-responses" class="clear">
	            <div class="response" id="mce-error-response" style="display:none"></div>
	            <div class="response" id="mce-success-response" style="display:none"></div>
	        </div> 
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        	<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_babf55f8eba75e1080ff0372f_48f524df84" tabindex="-1" value=""></div>
	      </form>
	    </div>
    </div>
    <!--End mc_embed_signup-->

    <div class="sidebar-links">
    	<a id="subscribe-link" href="/email-sub">Subscribe</a>
    	<a href="/posts-archive">Archive</a>
    	<a href="/long-form">Essays</a>
    </div>
</div>
	</div>