{{!< default}}
<a id="homeButton" href="/"><i class="fa fa-fast-backward" aria-hidden="true"></i>Home</a>
  <br />
  <br />

<h2 class="resume-page-title">My Resume</h2>

<div class="resume-container">

  <img src="https://dl.dropboxusercontent.com/s/o1tjkb53lruvrpf/resume-page-001.jpg">

  <br />
  <a class="download-btn" href="https://dl.dropboxusercontent.com/s/aqv9o2mzj107gts/resume.pdf" download="https://dl.dropboxusercontent.com/s/aqv9o2mzj107gts/resume.pdf">Download</a>

</div>