{{!< default}}

<h1 id="portfolio-title">Quotes</h1>
<h4 id="quotes-subtitle">
  I pull lines from everything that I read and listen to. Now, instead of scribbling them on the wall in crayon I'm compiling them here.
</h4>

<a href="#" id="random" class="sortButton">Randomize</a>
<a href="#" id="alpha" class="sortButton">Alphabetize</a>
<a href="#" id="recently" class="sortButton">Most Recent</a>

<div id="quotesContainer"></div>