{{!< default}}
<span class="hidden-mobile">
  <a id="homeButton" href="/"><i class="fa fa-fast-backward" aria-hidden="true"></i>Home</a>
    <br />
    <br />
</span>
<h1 class="page-header">Archive</h1>

<div class="tag-cloud">
  {{#get "tags" limit="all" include="count.posts" order="count.posts desc"}}
    <ul>
      {{#foreach tags}}
          <li id="tag-{{name}}"><a href="/tag/{{slug}}">{{name}}<span>{{count.posts}}</span></a></li>
      {{/foreach}}
    </ul>
  {{/get}}
</div>